@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-background text-foreground scroll-smooth;
}

body {
  @apply antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #38bdf8 #020617;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background-color: #38bdf8;
  border-radius: 9999px;
}



